:root {
    --dark_violet: #2D0740;
    --violet: #854AD9;
    --gold: #BF771F;
    --light_violet: #C4A6ED;
    --black: #120321;
    --body_font: 'Montserrat', Arial, Verdana, Tahoma, Georgia, sans-serif;
   

}
body {
    font-family: var(--body_font);
    color: white;
    font-size: 1rem;
    background-color: black;
    text-align: center;
    
}
p {
    line-height: 200%;
}

h1 {
    text-transform: capitalize;
    font-size: 1.5rem;
    margin: 6em 0em 2em;
}
h2 {
    color: var(--light_violet);
}
li {
    list-style: none;
    padding: 0.7em;
    font-size: 1rem;
}
li a:hover {
    color: var(--gold);
}
header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: black;
}

header ul {
    display: flex;
    justify-content: center;
    padding: 0em;
    
}
hr {
    border: 1px solid var(--dark_violet);
    margin: 1.5em 0em;
}
a {
    text-decoration: none;
    color: white;
 
}

footer {
    padding: 0.3em;
    text-align: center;
    color: var(--light_violet);
    margin-top: 3em;
}
.stylingFont {
    color: var(--violet);
    font-style: italic;
}
/* cover */
.cover_container {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: repeat(2, 1fr);
   grid-template-areas: 
   "name name name image"
   "intro intro intro image";
   align-items: center;
}

#grid1 {
    grid-area: name;
    margin: 0;
    align-self: center;
    background-color: rgba(192, 192, 192, 0.1);
   
   
}
#grid2 {
    grid-area: intro;
    color: white;
    align-self: start;
    margin: 0;
    font-size: 0.8rem;
  
}

#grid3 {
    grid-area: image;
    width: 90%;
    justify-self: end;
}
.styling {
    font-family: var(--body_font);
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5rem;
    color: white;
}
.styling span {
    font-style: normal;
    color: var(--violet);
    font-size: 2rem;
    font-weight: 900;
    
}
/* tech stack */
.tech_stacks {
    margin: 2em 0.5em 3em;
}
.tech_stacks p {
    text-align: left;
}
.tech_stacks img {
    width: 40px;
}
.tech_title {
    color: var(--light_violet);
} 
.tech_container p {
    margin: 0;
    font-size: 0.8rem;
}
.tech_content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 1em;
    justify-content: center;
}
.cta {
    background-color: var(--light_violet);
    color: var(--black);
    border-radius: 10px;
    padding: 0.5em 1.5em;
    font-family: var(--body_font);
    font-size: 1rem;
    margin: 1em 0em;
}
.cta:hover {
    background-color: var(--violet);
    color: var(--black);
}
.cta-primary {
    background-color: black;
    border: 1px solid var(--violet);
    color: var(--light_violet);
}
.cta_cover {
    border: 1px solid var(--violet);
    border-radius: 10px;
    padding: 0.5em 1.5em;
    background-color: black;
    margin: 0.5em;
}
.cta_cover:hover {
    background-color: var(--light_violet);
    color: var(--black);
}
#cta_cover {
    text-align: center;
}

/* Project cards */

.cards_container {
    display: flex;
    flex-direction: column;
  
}
.card {
    border: 2px solid var(--violet);
    border-radius: 10px;
    padding: 0.5em;
    margin-bottom: 2em;
}
.card_title {
    font-size: 1.5rem;
    text-align: left;
    margin: 0em;
}
.card img {
    width: 100%;
    border-radius: 10px;
}
.card_content {
    text-align: left;
}
.buttons {
    display: flex;
   justify-content: space-evenly;
   
}


/* About */
.about {
    border: 1px solid var(--light_violet);
    color: white;
    padding: 0.5em 1em;
    text-align: left;
    border-radius: 10px;
}
.about .buttons {
    text-align: center;
}
/* Contact */
.contact a {
    color: var(--light_violet);
}
.email:hover {
    text-decoration: underline;
}

/* Tablet */
@media only screen and (min-width: 641px) {

    body, .cta {
        font-size: 1.2rem;
    }
 
    h1 {
        font-size: 1.8rem;
        margin-top: 200px;
        margin-bottom: 70px;
    }
    h2 {
        font-size: 1.5rem;
    }
  
    li, .tech_title  {
        font-size: 1.5rem;
    }
   
    /* cover */
    #grid1 {
        padding: 0.4em 0em;
    }
    #grid2 {
        font-size: 1.5rem;
        padding-top: 1em;
    }
    
    .styling {
        font-size: 2.5rem;
    }
    .styling span {
        font-size: 3rem;
    }
    /* tech stack */

    .tech_stacks img {
        width: 50px;
    }
    
    .tech_container p {
        font-size: 1rem;
    }
    .tech_content {
        column-gap: 1.5em;
        
    }
    /* contact form */
    .contact, .cards_container {
        max-width: 600px;
        margin: auto;
    }
   
    input, textarea {
        border-radius: 10px;
        font-size: x-large;
    }
  
}

/* desktop */
@media only screen and (min-width: 1008px) {
    body {
        max-width: 1400px;
        margin: auto;
    }
   
    h1 {
        font-size: 2.5rem;
        margin-top: 300px;
        margin-bottom: 100px;
    }

    li, .tech_title  {
        font-size: 2rem;
    }
    .about {
        max-width: 900px;
        margin: auto;
    }
    /* cover */

    #grid2 {
        font-size: 2rem;
        padding-top: 2em;
    }
    
    .styling {
        font-size: 3.5rem;
    }
    .styling span {
        font-size: 4.5rem;
    }
     /* tech stack */

     .tech_stacks img {
        width: 60px;
    }
    
    .tech_container p {
        font-size: 2rem;
    }
    .tech_content {
        column-gap: 2.5em;
        
    }
     /* contact form */
     .contact {
        max-width: 800px;
    }
      /* Project cards */
    .cards_container {
        max-width: 1400px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2em;
        }
    .card img {
        height: 270px;
        object-fit: cover;
        }
}
/* Large Desktop */
@media only screen and (min-width: 1221px) {
     /* cover */
    .styling {
        font-size: 4rem;
    }
    .styling span {
        font-size: 5rem;
    }
    #grid2 {
        padding-top: 2.5em;
    }
    
  
    /* Project cards */
    .cards_container {
    grid-template-columns: repeat(3, 1fr);
   
    }
   
  
}